body {
    font-family: "fuente1";
    font-weight: bold;
}

form {
    margin: 10px auto;
    width: 710px;
    text-align: center;
    border-top: 2px solid #888;
    border-bottom: 2px solid #888;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-image: url('../imgs/bg-form.png');
    background-position: bottom; /*poner la imagen al final de la caja*/
    background-repeat: no-repeat;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    background-image: url('../imgs/bg-formtitle-left.png'), url('../imgs/bg-formtitle-right.png');
    background-repeat: no-repeat;
    background-position: left, right; /*posicionar las imagenes del encabezado*/ 
    background-size: 100px auto;
    
    
}

form p {
    margin: 0; 
    font-weight: normal; /*pongo en normal porque en el body lo tengo puesto todo en negrita*/
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

input{
    border: none; /* Elimina el borde por defecto */
    border-bottom: 2px dotted #888; /* Añade una línea inferior con puntos*/
    background: none; /* Elimina el fondo blanco */
    color: #888; /* Cambia el color del texto */
    font-size: 1em; 
    width: 80%; 
    padding: 5px;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
    text-align: center;
    font-weight: bold;
}

button {
    border: none;
    border-radius: 5px;
    background: radial-gradient(circle, rgb(144, 144, 144), rgb(72, 72, 72));
    color: white;
    text-transform: uppercase;
    font-size: 2em;
    font-family: "fuente1";
    opacity: 0.8;
    padding: 10px 50px;
    transition: opacity 0.25s linear;
}

button:hover {
    opacity: 1;
}


#cantidad{
    border-bottom: 2px dotted #888; /* Añade una línea inferior */
    background: none; /* Elimina el fondo blanco */
    color: #888; 
    font-size: 1em; 
    width: 15%; /* Haz que el input ocupe el ancho completo del contenedor */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
    text-align: center;
}


/*Para los input que sean requeridos y esten invalidos pondremos esta imagen*/
input:not([type=range]):not([type=date]):not([type=submit]):not([type=button] ):not([type=checkbox]):not([type=number]):focus:invalid {
background: url('../imgs/invalid.png') no-repeat 100% 0;/*no-repeat 100% 0 para que no se repita la imagen y la posicion z e x de la imagen*/
}
/*Para los input que sean requeridos y esten validos pondremos esta imagen*/
input:not([type=range]):not([type=date]):not([type=submit]):not([type=button] ):not([type=checkbox]):not([type=number]):focus:valid {
background: url('../imgs/valid.png') no-repeat 100% 0;
}


/*Para los input que sean requeridos pondremos esta imagen*/
input:required{
    background: url("../imgs/required.png") no-repeat 100% 0;
}

/*Esto es para descargarte una fuente de internet y poder aplicarla*/
@font-face {
    font-family: "fuente1";
    src: url("../fuentes/tahoma.ttf");
}

