/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-destacados {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    border: 1px solid black;
    gap: 10px; /* Espaciado entre celdas */
}

.item1 {
    grid-row-start: 1;
    grid-row-end: 2;
    border: 1px solid black;
    position: relative; /* Necesario para posicionar los elementos superpuestos */
    
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.item2{
    border: 1px solid black;
}

.item3{
    border: 1px solid black;
}


.item4{
    border: 1px solid black;
}

.item5{
    border: 1px solid black;
}















