// Variables
$color-principal: #3498db;
$color-secundario: #2ecc71;
$color-fondo: #f4f4f4;


// Estilos generales
body {
  font-family: $fuente-principal;
  background-color: $color-fondo;
  margin: 0;
  padding: 0;
}

