/* C O L O R E S */
:root {
  --clr1: #0D7C66;
  --clr2: #41B3A2;
  --clr3: #BDE8CA;
  --clr4: #299958;
  --color-forest: #2D5A27;
}

/* F U E N T E S */
@font-face {
  font-family: "fuente1";
  src: url(../fuente/Sigmar/Sigmar-Regular.ttf);
}

@font-face {
  font-family: "fuente2";
  src: url(../fuente/Exo_2/Exo2-VariableFont_wght.ttf);
}

@font-face {
  font-family: "fuente3";
  src: url(../fuente/Exo_2/Exo2-Italic-VariableFont_wght.ttf);
}

/* G E N E R A L */

body {
  background: radial-gradient(circle, #e6f7ee 20%, white 100%) !important;
}

/* GIRO LOGO */

@keyframes giro {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

/*TITULOS SECCIONES*/
.section-title {
  color: var(--clr4) !important;
  font-size: 2.5rem  !important;
  text-align: center  !important;
  margin-bottom: 2rem !important;
  font-weight: 600  !important;
  position: relative !important;
  padding-bottom: 15px  !important;
  font-family: "fuente1";
  text-shadow: 2px 2px 4px black !important;
}

/*N A V*/
.navbar-brand {
  color: var(--clr3) !important;
  font-weight: bold !important;
  font-family: 'fuente1' !important;
  font-size: 2rem !important;
  text-shadow: 2px 2px 4px black !important;
}

.navbar-nav a{
  color: var(--clr3) !important;
  font-weight: bold !important;
  text-shadow: 2px 2px 4px black !important;
  font-family: 'fuente1' !important;
  transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
}

.navbar-nav a:hover {
  color: var(--clr1) !important;
  text-shadow: 4px 4px 8px black !important;
  transform: scale(1.1) rotate(2deg);
}

.nav-link.active {
  color: var(--clr3) !important;
  text-shadow: 4px 4px 8px black !important;
  transform: scale(1.1) rotate(2deg) !important;
  text-decoration: underline !important;
  text-underline-offset: 4px !important;
}

.navbar img {
  animation: giro 1s ease-in-out;
}

.navbar img {
  animation: giro 1.5s cubic-bezier(0.4, 0.0, 0.2, 1);
}


/*FOOTER*/

footer h4{
  font-family: "fuente1" !important;
}

footer p{
  font-family: "fuente2" !important;
}



/* RESPONSIV NAV */

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1.5rem !important;
    padding-bottom: 10px !important;

  }

  .navbar-nav a:hover {
    color: var(--clr1) !important;
    text-shadow: 2px 2px 4px black !important;
    text-decoration: underline !important;
    transform: none !important;
  }

  .navbar-nav a:hover {
    background-color: var(--clr1) !important;
    color: var(--clr4) !important;
    text-shadow: none !important;
    transform: none !important;
  }

  .nav-link.active {
    color: var(--clr1) !important;
    text-shadow: none !important;
    transform: none !important;
    text-decoration: none !important;
    border-bottom: 2px solid var(--clr1) !important;
  }
}





