/********************************************************************
*************************E Q U I P A C I O N**************************************
*********************************************************************/
.ropa {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.ropa-item {
  border: 3px solid var(--clr1);
  border-radius: 2%;
  width: 400px; /* Mantén el tamaño de la caja */
  height: 500px; /* Mantén la altura */
  display: flex;
  flex-direction: column; /* Alinea el contenido verticalmente */
  justify-content: space-around; /* Espacio entre los elementos */
  align-items: center; /* Centra los elementos horizontalmente */
  padding: 10px;
  box-sizing: border-box; /* Asegura que el padding no exceda el tamaño del contenedor */
  background-color: var(--clr2);
}

.ropa-item img {
  width: 100%; /* Ajusta la imagen al ancho del contenedor */
  height: auto; /* Mantén la proporción de la imagen */
  max-height: 60%; /* Limita la altura de la imagen al 60% de la caja */
  object-fit: contain; /* Asegura que la imagen cubra el contenedor sin deformarse */
  margin-bottom: 10px; /* Espaciado debajo de la imagen */
  border-radius: 2%;
  border: 2px solid var(--clr1);
  background-color: var(--clr3);
}

.ropa-item h3 {
  background-color: var(--clr1);
  color: var(--clr4);
  text-align: center;
  padding: 5px 0;
  width: 100%; /* Asegura que el título ocupe el ancho completo */
  border-radius: 2%;
  border: 2px solid var(--clr1);
  text-transform: uppercase;
  border-radius: 20px;
}

.ropa-item p {
  text-align: center; /* Centra el texto */
  margin: 5px 0; /* Añade algo de margen entre los párrafos */
  width: 100%; /* Asegura que los textos también respeten el ancho de la caja */
  border-radius: 3%;
  border: 2px solid var(--clr1);
  background-color: var(--clr3);
  border-radius: 20px;
}


.ropa-item button {
  border: 2px solid var(--clr1);
  background-color: var(--clr3);
  padding: 5px 30px;
  color: #0D7C66;
  cursor: pointer;
  font-weight: bold;
  border-radius: 20px;
}

.ropa-item button:hover {
  border: 2px solid var(--clr1);
  background-color: var(--clr3);
  padding: 5px 30px;
  background-color: var(--clr4);
  cursor: pointer;
  font-weight: bold;
  border-radius: 20px;
}

/********************************************************************
*************************R E S P O N S I V**************************************
*********************************************************************/

@media (max-width: 768px) {

}