* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0; /* Elimina los márgenes del body */
    padding: 0; /* Elimina el relleno del body */
    background-image: url(../image/fondo_bici.jpg);
  }


.barra {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-color:#BDE8CA;
  height: 100px;

}

.barra img {
  width: 100px;
  height: 100px;
}

.barra button {
  font-size: 17px;
  cursor:pointer;
  border-radius: 0.75em;
  background-color: #0D7C66;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  width: 200px;
}

.imagCiclo {
  width: 100%;
  height: 720px;
}

.sobre {
  background-color: #BDE8CA;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: auto;
  width: 1010px;
  height: 450px;
  margin-top: 30px;
  border-radius: 3%;
  border:solid #0D7C66 ;
  

}


.sobre img {
  width: 400px;
  height: 400px;
  margin: auto;
  margin-left: 10px;
  
}

.sobre p{
  margin: auto;
  margin-left: 30px;
}







.acti{
  background-color: #BDE8CA;
  width: 1010px;
  height: 900px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 3%;
  border:solid #0D7C66 ;
}

.acti iframe {
  margin: auto;
}

.acti h1 {
  margin: auto;
}

.acti p {
  margin: auto;
}

.acti h3 {
  margin: auto;
}

