* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(#da5329, white);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.page {
    margin: 15px;
}

header {
    background-image: linear-gradient(#0379c2, white);
    display: flex;
    justify-content: flex-start;
    height: 100px;
    padding: 10px 20px;
    gap: 10px;
    align-items: center;
    border-radius: 15px 15px 0 0;
    box-shadow: 6px 6px 5px #536b6b;
}

header h1 {
    color: white;
    font-weight: 1000;
    padding-left: 8%;
    font-family: "fuenteTitulo";
}

hr {
    border-top: 10px solid black;
    height: 2px;
    padding: 0;
    margin: 0;
}

nav {
    background-image: linear-gradient(#dcbe35, #f3de2e);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    text-shadow: 1px 1px 0px #f06529;
}

nav section {
    display: flex;
    flex-direction: column;
    position: relative;
}

nav section img {
    width: 64px;
    height: 64px;

}

nav section a {
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family:"fuenteTitulo";
    
}

nav section a:hover {
    color: #ff7e42;
    text-shadow: 0px 0px 5px #ff7e42; 
}

section:nth-child(4) {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 40px 30px;
    gap: 100px;
    flex-wrap: nowrap;
    box-shadow: 6px 6px 5px #536b6b;
}


/* Estilo de los enlaces */


nav section ul {
    position: absolute;
    left: 0;
    top: 100%;
    height: 0;
    width: 110px;
    overflow: hidden;
    transition: height 0.4s ease;
    border-radius: 3px 3px 0 0;
    font-size: 12px;
    color: #fff;
    text-align: center;
    z-index: 1;
    
   
}


/* Hover del submenú */
nav section:hover ul {
    height: auto;

}

/* Estilo de las opciones del submenú */
nav section ul li {
    background-color: #e34c26;
    border: 1px solid black;
    padding: 10px;
    transition: background-color 0.3s;

}


/* Hover de las opciones del submenú */
nav section ul li:hover {
    background-color: #ff7e42;

}


/* Primera opción de las opciones del submenú */
nav section ul li:first-child {
    margin-top: 25px;
    position: relative;

}


/* Para hacer la flechita */
nav section ul li:first-child:before {
    content: ' ';
    position: absolute;
    width: 1px;
    height: 1px;
    border: 5px solid transparent;
    border-bottom-color: #e34c26;
    left: 50%;
    top: -10px;
    margin-left: -5px;
}

hr {
    width: 95%;
    /* Ajustar el ancho de la línea */
    border-top: 2px solid rgb(171, 163, 163);
    /* Hacer la línea visible */
    margin-top: 10px;
}

footer {
    background-color: #0379c2;
    text-align: center;
    color: white;
    font-size: 0.7em;
    border-radius: 0 0 15px 15px;
    box-shadow: 6px 6px 5px #536b6b;
}

footer p {
    padding: 10px 0;
}

.linea {
    border-top: 10px solid black;
    height: 2px;
    padding: 0;
    margin: 0;
    box-shadow: 6px 6px 5px #536b6b;
}

/* CONTACTO*/

/* Importar la fuente Aguafina Script */
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');

main {
    background-image: url(../Imagenes/fondoForm.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Para el posicionamiento absoluto del título */
}

#contenedorFormulario {
    position: relative;
    display: inline-block;
    margin: 50px;
    width: 600px;
    padding: 20px 50px;
    background-color: rgba(200, 200, 200, 0.7); /* Color con opacidad */
    text-align: left;
    box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.4); /* Sombra de la caja */
}

#titulito {
    position: absolute;
    top: -16px; /* Distancia al borde superior */
    left: 490px; /* Distancia al borde izquierdo */
    background-color: rgba(255, 255, 255, 0.7); /* Color de fondo con opacidad */
    font-family: 'Aguafina Script', cursive; /* Fuente en cursiva */
    color: #333; /* Color del texto */
    letter-spacing: 5px; /* Espacio entre letras */
    text-shadow: 0px 0px 2px #777; /* Sombra del texto */
    padding: 0 10px; /* Márgenes internos */
}

/* Estilos comunes para todos los campos del formulario, excepto el botón */
input[type="text"], 
input[type="email"], 
textarea {
    display: inline-block;
    border: 1px solid #e5e5e5; /* Borde de 1px */
    padding: 10px; /* Espacio interno */
    width: calc(100% - 22px); /* Ajustar el ancho para incluir padding */
    border-radius: 5px; /* Bordes redondeados */
    margin-bottom: 15px; /* Espacio entre campos */
}

/* Estilo para el botón de envío */
input[type="submit"] {
    background-color: #0379c2; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-weight: bold; /* Texto en negrita */
}

/* Efecto hover para el botón */
input[type="submit"]:hover {
    background-color: #ff7e42; /* Color al pasar el ratón */
}
