* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(#da5329, white);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.page {
    margin: 15px;
}

header {
    background-image: linear-gradient(#0379c2, white);
    display: flex;
    justify-content: flex-start;
    height: 100px;
    padding: 10px 20px;
    gap: 10px;
    align-items: center;
    border-radius: 15px 15px 0 0;
    box-shadow: 6px 6px 5px #536b6b;
}

header h1 {
    color: white;
    font-weight: 1000;
    padding-left: 8%;
    font-family: "fuenteTitulo";
}

hr {
    border-top: 10px solid black;
    height: 2px;
    padding: 0;
    margin: 0;
}

nav {
    background-image: linear-gradient(#dcbe35, #f3de2e);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    text-shadow: 1px 1px 0px #f06529;
}

nav section {
    display: flex;
    flex-direction: column;
    position: relative;
}

nav section img {
    width: 64px;
    height: 64px;

}

nav section a {
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family:"fuenteTitulo";
    
}

nav section a:hover {
    color: #ff7e42;
    text-shadow: 0px 0px 5px #ff7e42; 
}

section:nth-child(4) {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 40px 30px;
    gap: 100px;
    flex-wrap: nowrap;
    box-shadow: 6px 6px 5px #536b6b;
}


/* Estilo de los enlaces */
nav section ul {
    position: absolute;
    left: 0;
    top: 100%;
    height: 0;
    width: 110px;
    overflow: hidden;
    transition: height 0.4s ease;
    border-radius: 3px 3px 0 0;
    font-size: 12px;
    color: #fff;
    text-align: center;
    z-index: 1;
    
   
}

/* Hover del submenú */
nav section:hover ul {
    height: auto;

}

/* Estilo de las opciones del submenú */
nav section ul li {
    background-color: #e34c26;
    border: 1px solid black;
    padding: 10px;
    transition: background-color 0.3s;
    

}

/* Hover de las opciones del submenú */
nav section ul li:hover {
    background-color: #ff7e42;

}

/* Primera opción de las opciones del submenú */
nav section ul li:first-child {
    margin-top: 25px;
    position: relative;

}


/* Para hacer la flechita */
nav section ul li:first-child:before {
    content: ' ';
    position: absolute;
    width: 1px;
    height: 1px;
    border: 5px solid transparent;
    border-bottom-color: #e34c26;
    left: 50%;
    top: -10px;
    margin-left: -5px;
}

hr {
    width: 95%;
    /* Ajustar el ancho de la línea */
    border-top: 2px solid rgb(171, 163, 163);
    /* Hacer la línea visible */
    margin-top: 10px;
}

footer {
    background-color: #0379c2;
    text-align: center;
    color: white;
    font-size: 0.7em;
    border-radius: 0 0 15px 15px;
    box-shadow: 6px 6px 5px #536b6b;
}

footer p {
    padding: 10px 0;
}

.linea {
    border-top: 10px solid black;
    height: 2px;
    padding: 0;
    margin: 0;
    box-shadow: 6px 6px 5px #536b6b;
}

/* CONTACTO*/

/* Importo la fuente*/
@font-face {
    font-family: "fuente1";
    src: url(../fuentes/AguafinaScript-Regular.ttf);
}

/* Es donde va a ir el formulario*/
main {
    background-image: url(../Imagenes/fondoForm.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Para el posicionamiento absoluto del título */
}

/*Contenedor del formulario, lo pongo en inner-block como pide el ejercicio*/
#contenedorFormulario {
    position: relative;
    display: inline-block;
    margin: 50px;
    width: 1000px;
    padding: 20px 50px;
    background-color: rgba(200, 200, 200, 0.7); /* Color con opacidad */
    text-align: left;
    box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.4); /* Sombra de la caja */
}

/*Le quito los puntos al listado*/
#contenedorFormulario li {
    list-style-type: none;
}


#contenedorFormulario li:nth-of-type(1), li:nth-of-type(2) , li:nth-of-type(3){
    width: 700px;
    opacity: 0.5;
    display: flex;
}

#contenedorFormulario li:nth-of-type(1) img, li:nth-of-type(2) img{
    height: 50px;
    border: 1px solid #e5e5e5;
    padding-left: 10px;
    background-color: rgb(200, 200, 200, 0.7);
}

#contenedorFormulario li:nth-of-type(1) input, li:nth-of-type(2) input{
    height: 50px;
    border: 1px solid #e5e5e5;
    width: 450px;
    margin-bottom: 15px;
    padding: 10px; 
    background-color: rgb(200, 200, 200, 0.7);
    box-shadow: 
        0px 1px 4px rgba(0, 0, 0, 0.3),  /* Sombra externa */
        0px 0px 40px rgba(0, 0, 0, 0.1) inset; /* Sombra interna (inset)*/
}

#contenedorFormulario li:nth-of-type(1) label, li:nth-of-type(2) label{
    padding-left: 10px;
    padding-top: 20px;
    font-weight: bold;
}

#contenedorFormulario  li:nth-of-type(3){
    margin-bottom: 20px;
    width: 700px;
    display: flex;
    border: 1px solid #e5e5e5;
}

textarea {
    height: 215px;
    background-color: rgb(200, 200, 200, 0.7);
    padding: 10px;
    width: 800px;
    border: none; /*Le quito el borde para que se vea el borde del li*/
      
}

li:nth-of-type(3) img {
    padding-top: 10px;
    height: 215px;
    width: 45px;
    padding-left: 10px;
    background-color: rgb(200, 200, 200, 0.7);
}

input::placeholder, textarea::placeholder {
    font-weight: bold;
}


#titulito {
    position: absolute;
    top: -30px; /*Posicionamiento del titulo*/
    left: 690px; 
    background-color: rgba(255, 255, 255, 0.7);
    color: #333; 
    letter-spacing: 7px; /* Espacio entre letras */
    text-shadow: 0px 0px 2px #777; /* Sombra del texto */
    padding: 0 10px; 
    font-style: italic;
    font-family: "fuente1";
}

/* Para el input del email ponemos una imagen si está valido*/
input:focus:valid + label::after {
    content: url('../Imagenes/valid.png');
    vertical-align: middle; /* Alinea la imagen con el texto */
    padding-left: 10px;
}

/*Para el input del email ponemos una imagen si está invalido*/
input:focus:invalid + label::after {
    content: url('../Imagenes/invalid.png');
    vertical-align: middle; /* Alinea la imagen con el texto */
    padding-left: 10px;
}

/*Para el input del nombre ponemos una imagen si está valido*/
input:focus:valid + datalist + label::after {
    content: url('../Imagenes/valid.png');
    vertical-align: middle; /* Alinea la imagen con el texto */
    padding-left: 10px;
}

/* Para el input del nombre ponemos una imagen si está invalido */
input:focus:invalid  + datalist + label::after {
    content: url('../Imagenes/invalid.png');
    vertical-align: middle; /* Alinea la imagen con el texto */
    padding-left: 10px;
}



/* Estilo para el botón de enviar*/
input[type="submit"] {
    background-color: #0379c2; 
    color: white; 
    border: none; /* quito el borde */
    padding: 10px 20px; 
    border: 1px solid #434343;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-weight: bold;
    background: linear-gradient(to bottom, #5e5e5e, #2a2a2a);
    box-shadow: inset 0px 1px 1px #353535;
    transition: background 0.3s ease-in-out;
}

/* Efecto hover para el botón */
input[type="submit"]:hover {
    background: linear-gradient(to top, #5e5e5e, #2a2a2a); /* Color al pasar el ratón */
}
