* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(#da5329, white);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.page {
    margin: 15px;
}

header {
    background-image: linear-gradient(#0379c2, white);
    display: flex;
    justify-content: flex-start;
    height: 100px;
    padding: 10px 20px;
    gap: 10px;
    align-items: center;
    border-radius: 15px 15px 0 0;
    box-shadow: 6px 6px 5px #536b6b;
}

header h1 {
    color: white;
    font-weight: 1000;
    padding-left: 8%;
    font-family: "fuenteTitulo";
}


hr {
    border-top: 10px solid black;
    height: 2px;
    padding: 0;
    margin: 0;
}

nav {
    background-image: linear-gradient(#dcbe35, #f3de2e);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    text-shadow: 1px 1px 0px #f06529;
}

nav section {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}



nav section img {
    width: 64px;
    height: 64px;

}

nav section a {
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family:"fuenteTitulo";
    
}

nav section a:hover {
    color: #ff7e42;
    text-shadow: 0px 0px 5px #ff7e42; 
}

.page > section:nth-child(4) {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 40px 30px;
    gap: 50px;
    flex-wrap: nowrap;
    box-shadow: 6px 6px 5px #536b6b;
}


/* E S T I L O S - E N L A C E S */


nav section ul {
    position: absolute;
    left: 0;
    top: 100%;
    height: 0;
    width: 110px;
    overflow: hidden;
    transition: height 0.4s ease;
    border-radius: 3px 3px 0 0;
    font-size: 12px;
    color: #fff;
    text-align: center;
    z-index: 1;
   
}


/* Hover del submenú */
nav section:hover ul {
    height: auto;

}

/* Estilo de las opciones del submenú */
nav section ul li {
    background-color: #e34c26;
    border: 1px solid black;
    padding: 10px;
    transition: background-color 0.3s;

}


/* Hover de las opciones del submenú */
nav section ul li:hover {
    background-color: #ff7e42;

}


/* Primera opción de las opciones del submenú */
nav section ul li:first-child {
    margin-top: 25px;
    position: relative;

}


/* Para hacer la flechita */
nav section ul li:first-child:before {
    content: ' ';
    position: absolute;
    width: 1px;
    height: 1px;
    border: 5px solid transparent;
    border-bottom-color: #e34c26;
    left: 50%;
    top: -10px;
    margin-left: -5px;
}


article {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid;
    align-items: center;
    max-width: 270px;
    height: 590px;
    font-family: "fuenteContenidos";
    border-image-source: url(../Imagenes/movil.png);
    border-image-slice: 70 20 50 20;
    border-width: 70px 20px 50px 20px;
    border-image-repeat: stretch;

}


article:nth-of-type(3) {
    transform: rotate(3deg);
}

article:nth-of-type(1) img:nth-child(1) {
    width: 20px;
    position: absolute;
    top: -13%;
    right: 10%
}

article img:nth-child(2) {
    width: 220px;

}

article:nth-of-type(2) img:nth-child(1) {
    width: 20px;
    position: absolute;
    top: -13%;

}

article:nth-of-type(2) img:nth-child(2) {
    width: 220px;
}

article:nth-of-type(3) img:nth-child(1) {
    width: 20px;
    position: absolute;
    top: -13%;
    left: 15%
}

article:nth-of-type(3) img:nth-child(2) {
    width: 220px;
}



article p {
    text-align: center;
    padding: 10px 10px;
    padding-bottom: 10px;
    line-height: 1.7;
}



article h3 {
    padding-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

hr {
    width: 95%;
    /* Ajustar el ancho de la línea */
    border-top: 2px solid rgb(171, 163, 163);
    /* Hacer la línea visible */
    margin-top: 10px;
}

footer {
    background-color: #0379c2;
    text-align: center;
    color: white;
    font-size: 0.7em;
    border-radius: 0 0 15px 15px;
    box-shadow: 6px 6px 5px #536b6b;
}

footer p {
    padding: 10px 0;
}

.linea {
    border-top: 10px solid black;
    height: 2px;
    padding: 0;
    margin: 0;
    box-shadow: 6px 6px 5px #536b6b;
}


/* VIDEO.HTML */
main {
    display: flex;
    gap: 20px;
}
.nav2 {
    display: flex;
    flex-direction: column;

}

.nav2 input{
    background-color: #da5329;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    margin-bottom: 10px;
}

.nav2 label{
    margin-top: 5px;
    margin-bottom: 15px;
}

#barra
{
    width: 705px;
    margin:5px;
    height: 16px;
    padding: 2px;
    border: 1px solid #CCCCCC;
    background: #EEEEEE;
    box-shadow: inset 2px 2px 10px rgba(67, 66, 66, 0.9);
    
}

#progreso{
    position: absolute;
    width: 0px;
    height: 16px;
    background:rgba(0,0,150,.2);
    
}

#reproductor{
    border: 2px solid black;
    box-shadow: inset 2px 2px 10px rgba(67, 66, 66, 0.9);
}


/*M E N U D E S P L E G A B L E */

.menu-toggle {
    display: none;
}

/* F U E N T E S*/
@font-face {
    font-family: "fuenteTitulo";
    src: url("../fuentes/Luckiest_Guy/LuckiestGuy-Regular.ttf");
}

@font-face {
    font-family: "fuenteContenidos";
    src: url("../fuentes/Abel/Abel-Regular.ttf");
}


/* KEYFRAMES PARA LAS ANIMACIONES*/

/* Animación para mover el logo */
@keyframes mueveLogo {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* Animación del logo */
.mueveLogo {
    animation: mueveLogo 5s infinite;
    display: inline-block;
}


/* Animación para mover la chincheta 1 */
@keyframes mueveChincheta1 {
    0% {
        left: 0px;
    }
    100% {
        left: 190px;
    }
}

.chincheta1 {
    position: absolute;
    animation: mueveChincheta1 3s forwards;
}

/* Animación para rotar el primer móvil */
@keyframes animArticle1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-2deg);
    }
}

.article1 {
    animation: animArticle1 3s forwards;
    animation-delay: 3s;
}

/* Animación para mover la chincheta 2 */
@keyframes mueveChincheta2 {
    0% {
        left: 0px;
    }
    100% {
        left: 120px;
    }
}

.chincheta2 {
    position: absolute;
    animation: mueveChincheta2 3s forwards;
    animation-delay: 6s;
}

/* Animación para mover la chincheta 3 */
@keyframes mueveChincheta3 {
    0% {
        left: 0px;
    }
    100% {
        left: 30px;
    }
}

.chincheta3 {
    position: absolute;
    animation: mueveChincheta3 1s forwards;
    animation-delay: 9s;
}

/* Animación para rotar el tercer móvil */
@keyframes animArticle3 {
    0% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

.article3 {
    animation: animArticle3 3s forwards;
    animation-delay: 12s;
}



/* R E S P O N S I V */

@media (max-width: 1024px) {
    #page {
        width: 90%;          /* El ancho es el 90% del contenedor */
        min-width: 320px;    /* El ancho mínimo será de 320 píxeles */
    }

    header{
        font-size: 0.7em; /*Modifico tamaño letra*/
    }

    nav a {
        margin-top: 0%;    /* Márgen*/
        margin-left: 8%;   
        margin-right: 8%;  
        margin-bottom: 2%; 
    }
}

@media (max-width: 700px) { 
    nav a {
        margin-top: 0%;   
        margin-left: 4%;   
        margin-right: 4%;  
        margin-bottom: 1%; 
    }

    /*Modifico el tamaño de los moviles y su contenido*/
    article{
        max-width: 30%;
    }

    article img:nth-child(2) {
        width: 120px;
    }

    article:nth-of-type(2) img:nth-child(2) {
        width: 120px;
    }

    article:nth-of-type(3) img:nth-child(2) {
        width: 120px;
    }
    
    article:nth-of-type(1) img:nth-child(1), article:nth-of-type(2) img:nth-child(1), article:nth-of-type(3) img:nth-child(1){
       display: none;
    }

    article p {
        line-height: 1.2;
    }

}

@media (max-width: 476px) {
    
    .menu-toggle {
        display: block; /* Mostrar el botón del menú cuando llegue a estos pixels */
        font-size: 24px;
        background-color: #0379c2;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 5px 0;
    }
    /*Cambio los nav a columna para que salgan debajo*/
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav section {
        display: none;
    }
    /*Modifico el tamaño de los moviles y su contenido*/

    article{
        max-width: 26%;
    }

    article img:nth-child(2) {
        width: 60px;
    }

    article:nth-of-type(2) img:nth-child(2) {
        width: 60px;
    }

    article:nth-of-type(3) img:nth-child(2) {
        width: 60px;
    }
    
    article:nth-of-type(1) img:nth-child(1), article:nth-of-type(2) img:nth-child(1), article:nth-of-type(3) img:nth-child(1){
       display: none;
    }

    article p {
        line-height: 1.2;
        font-size: 10px;
    }

    article h3{
        font-size: 12px;
    }

    .page > section:nth-child(4){
        gap: 30px;
    }

}

